<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <div class="row g-3" style="padding:100px; padding-bottom: 10px;">
        <form action="/items/create" enctype="application/x-www-form-urlencoded" method="POST">
            <div class="mb-3">
                <label>Title</label>
                <input class="form-control" name="set_title" id="title" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label>Description</label>
                <input class="form-control" name="set_description" id="description">
            </div>
            <div class="mb-3">
                <label>owner_id</label>
                <input class="form-control" name="set_user_id" id="user_id">
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
       </form>
    </div>
    <div class="row g-3" style="padding:100px; padding-bottom: 10px;">
        <table id="item-list" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody>
                {% for item in item_list %}
    <!--                    [{"title":"title1","description":"exyyy","id":1,"owner_id":1}]-->
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row g-3" style="padding:100px; padding-bottom: 10px;">
        <div style="padding: 20px;">Generate JSON</div>
        <div class="row g-3">
            <form action="/items/download/" enctype="multipart/form-data" method="get">
                <input class="btn btn-primary" type="submit" value="Generate">
            </form>
         </div>
    </div>
</body>
</html>